<h1>Snake Game</h1>
<main>
  <div data-controller="snake" data-rows="<%= @game_board.rows %>" data-cols="<%= @game_board.cols %>">
    <aside data-snake-target="output" class="logs"></aside>
    <div class="snake-board" id="board" data-snake-target="board"></div>
    <p>
      <button data-action="click->snake#moveLeft">L</button>
      <button data-action="click->snake#moveRight">R</button>
      <button data-action="click->snake#moveUp">U</button>
      <button data-action="click->snake#moveDown">D</button>
    </p>
    <button data-action="snake#initBoard">Reset</button>
    <button data-action="snake#clearOutput">Clear logs</button>
  </div>
</main>
