/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


.snake-board {
    border: solid 1px #ccc;
    width: fit-content;

    .cell {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border: solid 1px #ccc;
    }

    .food {
        background-color: red;
    }

    .head {
        background-color: darkgreen;
    }

    .tail {
        background-color: green;
    }
}